/* Custom CSS to remove underline from brand text */
.brand-link {
    text-decoration: none;
    /* Remove underline */
}

.brand-link:hover {
    text-decoration: none;
    /* Ensure no underline on hover */
}

.sidebar-dark-primary {
    background-color: #212a3e !important;
    /* Dark color for sidebar */
}

/* Change the background color of the brand */
.brand-link {
    background-color: #212a3e !important;
    /* Replace with your desired color */
}

/* Change the background color of the top bar (navbar) */
.navbar {
    background-color: #f3f8ff !important;
    /* Replace with your desired color */
}

/* Change the color of text and icons in the top bar */
.navbar-nav .nav-link {
    color: #383737 !important;
    /* Adjust text color as needed */
}

/* Custom Small Box Colors */
.bg-danger-custom {
    background: linear-gradient(
        135deg,
        rgba(220, 53, 69, 0.8),
        rgba(255, 87, 34, 0.8)
    );
    color: #fff;
}

.bg-success-custom {
    background: linear-gradient(
        135deg,
        rgba(40, 167, 69, 0.8),
        rgba(0, 123, 255, 0.8)
    );
    color: #fff;
}

.bg-info-custom {
    background: linear-gradient(
        135deg,
        rgba(23, 162, 184, 0.8),
        rgba(0, 123, 255, 0.8)
    );
    color: #fff;
}

.bg-warning-custom {
    background: linear-gradient(
        135deg,
        rgba(255, 193, 7, 0.8),
        rgba(255, 159, 0, 0.8)
    );
    color: #fff;
}

/* Custom CSS for sidebar section titles */
.nav-header {
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
    /* Adjust color as needed */
    background-color: #343a40;
    /* Background color for the header */
    padding: 10px;
}

/* Custom CSS for topbar section titles */
.dropdown-menu {
    margin: 10px;
    /* Adjust the margin as needed */
}

.dropdown-item {
    margin-top: 5px;
    /* Adds space between items */
    margin-bottom: 5px;
    /* Adds space between items */
}

.nav-link {
    margin-right: 10px;
}

/* for content custom css */

.heading h1 {
    padding-top: 10px;
    padding-left: 20px;
}

.button {
    margin-right: 20px;
}

.card {
    margin: 20px;
}

/* for admin dashboard custom css */
.heading h1 {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 12px;
}

.row {
    margin-left: 20px;
    margin-right: 20px;
}

/* alert */
.alert {
    margin-left: 20px;
    margin-right: 20px;
}
